
table td,
table th {
  vertical-align: top !important;
}

.ctools-button-processed {
    background-image: linear-gradient(-90deg, #ffffff 0px, #f9f9f9 100%);
    border-radius: 11px;
}

.ctools-dropbutton-processed {
    position: absolute;
}

.ctools-button-processed {
    background-color: #ffffff;
    border-color: #cccccc;
    /*font-size: 11px;*/
    padding-bottom: 2px;
    padding-top: 2px;
}

.ctools-dropbutton-processed .ctools-link {
    border-left: 1px solid #ffffff;
}

.ctools-dropbutton-processed .ctools-content {
    border-right: 1px solid #e8e8e8;
}

.ctools-button-processed .ctools-content {
    padding-bottom: 0;
    padding-top: 0;
}

.ctools-dropbutton-processed .ctools-content ul {
    margin: 0;
    padding: 0;
}

.ctools-button-processed .ctools-content a {
    background-image: none;
    border: medium none;
}

.ctools-dropbutton-processed li a,
.ctools-dropbutton-processed li input {
    padding-right: 9px;
}

.ctools-dropbutton-processed.open {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.ctools-dropbutton-processed.open {
    z-index: 100;
}

.ctools-dropbutton-processed.open li + li {
    border-top: 1px solid #efefef;
    margin-top: 4px;
    padding-bottom: 0;
    padding-top: 4px;
}

.contact-centre-actions {
  width: 100px;
}

.contact-centre-message-list tr.resolved td {
  background-color: lightgreen;
  color: #9a9a9a;
}
