
.contact-centre-message-shaded-cell {
  background-color: #e1e2dc;
  border-right: 1px solid #bebfb9;
  border-bottom: 1px solid #bebfb9;
  font-weight: bold;
  width: 10%;
}

.contact-centre-message-unshaded-cell {
  border-bottom: 1px solid #bebfb9;
}
